header::after{
    content: '';
    display: table;
    clear: both;
}


header div {
    float: left;
}

.footer a{
    width:auto;
    padding: 1em 1em;
    color: grey;
    transition:0.4s;
}

footer a:hover{
    color: rgb(214, 135, 45);
    transition:0.3s;
    text-decoration: none;
}

img {
    vertical-align: middle;
}
img {
    border: 0;
}

header img {
    width: 150px;
    display: inline-flex;
}

.form-control {
    display: inline-flex;
}

.form-control:focus {
    box-shadow: none;
  }
  
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
    width: 330px;
    padding-left: 1em;
  }

  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }

.btn {
    background-color: orange;
    width: 100px;
}