header::after{
    content: '';
    display: table;
    clear: both;
}

.center {
    text-align: center;
}

header div {
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav {
 padding:10px;
 position:relative;
 display:block;
 text-align:center;
    margin: 0;
}

nav a{
 display: inline-flex;
    width:auto;
    padding: 1em 1em;
 font-weight:bold;
 color: grey;
 text-decoration:none;
}

nav a:hover{
 color: orangered;
}
 
  .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a:hover {
      color: orangered;
    }
  
  .dropdown:hover .dropdown-content {
      display: block;
    }

.footer a{
    width:auto;
    padding: 1em 1em;
 font-weight:bold;
 color: grey;
 text-decoration:none;
 transition:0.4s;
}

footer a:hover{
 color: rgb(214, 135, 45);
    transition:0.3s;
    text-decoration: none;
}

.footer-list {
    display: inline;
    float: left;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    color: #565656;
    text-transform: uppercase;
    text-align: left;
}
.footer-list2 {
    display: inline;
    float: right;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    color: #565656;
    text-transform: uppercase;
    text-align: left;
}

.footer-list3 {
    display: inline;
    float: right;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    color: #565656;
    text-transform: uppercase;
    text-align: left;
}

.footer-nav{
    display: block;
}

.footerlogo img {
    width: 100px;
    margin-left: 10px;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}

header img {
    width: 150px;
    display: inline-flex;
}

.form-control {
    display: inline-flex;
}

.form-control:focus {
    box-shadow: none;
  }
  
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
    width: 330px;
    padding-left: 1em;
  }

  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }

.btn {
    background-color: orange;
    width: 100px;
}

.footer-kiri{
    width: 50%;
}

.contact{
    margin-left: 10px;
}

.contact img{
    width: 4%;
}


.footer-all-wrap{
    margin: 10px;
    background-color: rgba(214, 214, 214, 0.308);
}

.footer__network-icon {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}

.footer-bagian-kanan{
    display: block;
    text-decoration-color: grey;
}

.footer-bukalapak{
    margin-left: 4px;
}

.footer-kanan{
    display: inline-block;
    width: 50%;
}

.footer-kanan-judul{
    display: inline-block;
}